{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="row container">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Password set</span>
                    <div class="card-action">
                        <p>Your password has been set. You can <a href="{% url 'login' %}">Log-in now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}