{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
    <div class="row container">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form class="container" action="." method="post">
                        <span class="card-title">Change password</span>
                        <div class="card-action">
                            {{ form.as_p }}
                            <p><input type="submit" value="Change"></p>
                            {% csrf_token %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}